{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>


	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="author" content="Benedikt Kleppmann">
	<title>Data Science for Good Aalen</title>
	

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />

	<link rel="shortcut icon" href="{% static 'images/logo.png'%}">
	<style>
	.box {
		background-color:rgb(39, 40, 34);
	}
	
	.navbar-header {
		padding-left: 0px;
	}
	
	.navbar-brand { 
	    padding: 7px 26px;
	}
	
	#background-picture {
		margin-top: -54px;
	}
	</style>


</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0">



	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo_only_background.png'%}" height="37"></a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="{% url 'home' %}">Home</a></li>
		  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysen <span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{% url 'analyse_12_09_2019' %}">12. September 2019</a></li>
			  <li><a href="{% url 'analyse_26_09_2019' %}">26. September 2019</a></li>
			  <li><a href="{% url 'analyse_10_10_2019' %}">10. Oktober 2019</a></li>
			</ul>
		  </li>
		  <li><a href="{% url 'leute' %}">Leute</a></li>
		  <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
		</ul>
	  </div>
	</nav>

	
	
	<section id="background-picture" class="carousel">
		<div style="background-image: url(../static/images/globe3.jpg);
					background-attachment: fixed;
					background-size: 100%;
					background-repeat: no-repeat;
					padding: 200px 0;
					background-position: 21% 28%;
					margin-top:54px;">
		</div>
	</section>


		
	<section>
		<div class="container">
			<div class="box first last">
				<div class="center">
					<h2>About</h2>
				</div>
				<div class="lead left-aligned">
					In diesem Meetup treffen sich professionelle Data Analysts/Scientist und Data Science interessierte um gemeinsam Daten für einen guten Zweck auszuwerten. Als Gastgeber stellt sich das Innovationszentrum Aalen zur Verfügung.<br>
					Es werden hauptsächlich öffentliche Daten analysiert mit dem Ziel lokale NGOs bei dem Treffen einer Entscheidung zu helfen oder um die Öffentlichkeit über ein interessantes Thema zu informieren. Für alle Erfahrungslevels gibt Nützliches zu tun.<br>
					Es ist eine großartige Möglichkeit um mehr über Maschinelles Lernen und Datenvisualisierung zu lernen, gleichgesinnte zu treffen und gleichzeitig die Welt zu verbessern!<br>
					<br>

					---------------------
					<br><br>
					In this Meetup professional Data Analysts/Scientists and people interessted in Data Science meet to analyse data for a good cause. The Meeting is hosted by the Innovationszentrum Aalen.<br>
					Publicly available data will be analysed in order to help local NGOs with their decision making or to inform the public about an interesting subject. There is useful work for people of all experience levels.<br>
					This Meetup is a great opportunity to learn more about machine learning and data visualisation, to meet fellow data enthusiasts and to simulateously improve the world!<br>
					<br>
					
			  </div>
			  	<div class="center">
					<h2>Mitmachen</h2>
				</div>
				<div class="lead left-aligned">
					Du bist herzlich eingeladen mitzumachen!<br>
					Du brauchst keine vorherige Erfahrung mit Datenanalyse um mitzumachen.<br>
					Wir treffen uns jeden zweiten Donnerstag im Innovationszentrum Aalen. Auf <a href="https://www.meetup.com/Data-Science-for-Good-Aalen/">dieser Seite</a>dieser Seite findest du die details über die nächsten Treffen.<br>
					<br>
					---------------------<br>
					<br>
					If this sounds interesting to you, please join!<br>
					Data enthusiasts with all levels of experience are very welcome!<br>
					We meet every second Thursday in the Innovationszentrum Aalen. You'll find the details about the next meetings on <a href="https://www.meetup.com/Data-Science-for-Good-Aalen/">this page.</a><br>
					<br>
					<br>
			  </div>
			</div>
		</div>
	</section>



	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	 <script>
	  $('.carousel').carousel({
	   interval: 3000
	  });
	 </script>  
	 

</body>
</html>